@media only screen and ( min-width : 300px ) and ( max-width : 480px ) {

  .geralSearch {
    border-top-left-radius: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -2px 6px 2px rgba(82, 82, 82, 0.474);
    margin-top: -22vw;
  }

  .input-Btn-Search {
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 30px 0 135% 0;
  }

  .inputSearch {
    border: none;
    background: rgb(199, 199, 199);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 4px 15px;
    width: 150px;
  }

  .inputSearch:enabled {
    background-color: rgb(210, 210, 210);
  }

  .btnSearch {
    background:linear-gradient(to bottom, #969696 5%, #686868 100%);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(236, 236, 236);
    padding: 4px 15px;
  }

  .btnSearch:disabled {
    background:linear-gradient(to bottom, #969696a8 5%, #6868688a 100%);
    color: #cccccc;
  }

  .resultSearch {
    text-align: center;
    margin: auto;
    margin-top: -470px;
    margin-bottom: 30px;
    max-width: 295px;
    overflow: hidden;
  }

  .anySearch {
    text-align: center;
    padding: 0 0 380px;
  }

  .albumSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cadaAlbumSearch {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    width: 150px;
  }

  .imagemAlbumSearch {
    border-radius: 20px;
  }

  .nomeAlbumSearch {
    max-height: 38px;
    max-width: 140px;
    overflow: hidden;
  }
  
  .link {
    color: #393939;
    text-decoration: none;
  }

  .nomeArtistaSearch {
    max-height: 38px;
    max-width: 150px;
    overflow: hidden;
  }

  
}

@media only screen and ( min-width : 481px ) and ( max-width : 800px ) {

  .geralSearch {
    border-top-left-radius: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -2px 6px 2px rgba(82, 82, 82, 0.474);
    margin-top: -145px;
  }

  .input-Btn-Search {
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 30px 0 135% 0;
  }

  .inputSearch {
    border: none;
    background: rgb(199, 199, 199);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px 18px;
    width: 220px;
  }

  .inputSearch:enabled {
    background-color: rgb(210, 210, 210);
  }

  .btnSearch {
    background:linear-gradient(to bottom, #969696 5%, #686868 100%);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(236, 236, 236);
    padding: 4px 15px;
  }

  .btnSearch:disabled {
    background:linear-gradient(to bottom, #969696a8 5%, #6868688a 100%);
    color: #cccccc;
  }

  .resultSearch {
    text-align: center;
    margin: auto;
    margin-top: -125%;
    margin-bottom: 30px;
    max-width: 295px;
    overflow: hidden;
  }

  .anySearch {
    text-align: center;
    padding: 0 0 380px;
  }

  .albumSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cadaAlbumSearch {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    width: 150px;
  }

  .imagemAlbumSearch {
    border-radius: 20px;
  }

  .nomeAlbumSearch {
    max-height: 38px;
    max-width: 140px;
    overflow: hidden;
  }
  
  .link {
    color: #393939;
    text-decoration: none;
  }

  .nomeArtistaSearch {
    max-height: 38px;
    max-width: 150px;
    overflow: hidden;
  }

}

@media only screen and ( min-width : 801px ) and ( max-width : 1024px ) {

  .geralSearch {
    border-top-left-radius: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -2px 6px 2px rgba(82, 82, 82, 0.474);
    margin-top: -85px;
  }

  .input-Btn-Search {
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 30px 0 135% 0;
  }

  .inputSearch {
    border: none;
    background: rgb(199, 199, 199);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px 18px;
    width: 220px;
  }

  .inputSearch:enabled {
    background-color: rgb(210, 210, 210);
  }

  .btnSearch {
    background:linear-gradient(to bottom, #969696 5%, #686868 100%);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(236, 236, 236);
    padding: 4px 15px;
  }

  .btnSearch:disabled {
    background:linear-gradient(to bottom, #969696a8 5%, #6868688a 100%);
    color: #cccccc;
  }

  .resultSearch {
    text-align: center;
    margin: auto;
    margin-top: -130%;
    margin-bottom: 30px;
    max-width: 295px;
    overflow: hidden;
  }

  .anySearch {
    text-align: center;
    padding: 0 0 380px;
  }

  .albumSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cadaAlbumSearch {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    width: 150px;
  }

  .imagemAlbumSearch {
    border-radius: 20px;
  }

  .nomeAlbumSearch {
    max-height: 38px;
    max-width: 140px;
    overflow: hidden;
  }
  
  .link {
    color: #393939;
    text-decoration: none;
  }

  .nomeArtistaSearch {
    max-height: 38px;
    max-width: 150px;
    overflow: hidden;
  }

}

@media only screen and ( min-width : 1025px ) {

  .geralSearch {
    height: 100%;
    margin-left: 200px;
    margin-top: -180px;
    padding-top: 50px;
    z-index: -1;
  }

  .input-Btn-Search {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .inputSearch {
    background-color: rgba(255, 255, 255, 0.897);
    border: none;
    border-radius: 15px 0 0 15px;
    font-size: 24px;
    height: 45px;
    margin-bottom: 30px;
    padding: 5px;
    padding-left: 10px;
    width: 500px;
  }

  .btnSearch {
    background-color: rgb(24, 23, 23);
    border: 1px rgb(140, 140, 140) solid;
    border-radius: 0 15px 15px 0;
    color: rgb(235, 235, 235);
    font-size: 16px;
    font-weight: 900;
    height: 55px;
    padding: 5px 10px;
  }

  .btnSearch:disabled {
    background-color: grey;
    opacity: 0.7;
  }

  .albumSearch {
    background-position: top center;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    justify-content: space-around;
    margin: 50px 60px 0 150px;
    overflow-y: scroll;
    padding-bottom: 50px;
  }

  .cadaAlbumSearch {
    backdrop-filter: blur(4px);
    background: rgba(214, 214, 214, 0.158);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.431);
    height: 210px;
    margin: 10px 0;
    text-align: center;
    width: 200px;
  }

  .cadaAlbumSearch:hover {
    background: rgba(180, 179, 179, 0.262);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.564);
  }

  .imagemAlbumSearch {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .nomeAlbumSearch {
    color: rgb(8, 8, 8);
    font-size: 20px;
    justify-content: center;
    margin: 0 10px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .nomeArtistaSearch {
    color: rgba(171, 163, 163, 0.761);
    height: 20px;
    margin: 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .resultSearch {
    background-color: rgba(133, 133, 133, 0.27);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 40px;
    max-width: 295px;
    padding: 10px;
    overflow: hidden;
  }

  .anySearch {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: -20px;
    text-align: center;
  }
}
